.App {
  margin-bottom: 120px;
}

.title {
  font-size: 48px;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.toprow {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: fit-content;

  .location {
    .place {
      font-size: 36px;
      color: red;
      text-decoration: none;
    }
    .address {
      font-size: 24px;
    }
  }

  .provided {
    margin-left: 56px;
    .title {
      font-size: 24px;
    }
  }
}

.pack {
  width: fit-content;
  margin: auto;
  .title {
    font-size: 40px;
    color: red;
  }

  li {
    font-size: 36px;
  }
}

.checkout {
  text-align: center;
}

.signup {
  text-align: center;
}
